<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--Security configuration-->

    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <security:http auto-config="true">
        <security:intercept-url pattern="/welcome*" access="ROLE_USER,ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/users*" access="IS_AUTHENTICATED_REMEMBERED"/>
        <security:logout logout-success-url="/welcome"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="dshulgin" password="12345" authorities="ROLE_USER"/>
                <security:user name="asologub" password="123456" authorities="ROLE_SUPERVISOR"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>
